[submodule "nonebot-plugin-akinator"]
	path = packages/nonebot-plugin-akinator
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-akinator
[submodule "nonebot-plugin-bawiki"]
	path = packages/nonebot-plugin-bawiki
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-bawiki
[submodule "nonebot-plugin-fuckyou"]
	path = packages/nonebot-plugin-fuckyou
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-fuckyou
[submodule "nonebot-plugin-picmcstat"]
	path = packages/nonebot-plugin-picmcstat
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-picmcstat
[submodule "nonebot-plugin-rimofun"]
	path = packages/nonebot-plugin-rimofun
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-rimofun
[submodule "nonebot-plugin-autoreply"]
	path = packages/nonebot-plugin-autoreply
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-autoreply
[submodule "nonebot-plugin-picstatus"]
	path = packages/nonebot-plugin-picstatus
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-picstatus
[submodule "readme"]
	path = others/readme
	url = https://github.com/lgc-NB2Dev/readme
[submodule "nonebot-plugin-callapi"]
	path = packages/nonebot-plugin-callapi
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-callapi
[submodule "nonebot-plugin-multincm"]
	path = packages/nonebot-plugin-multincm
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-multincm
[submodule "nonebot-plugin-nonememe"]
	path = packages/nonebot-plugin-nonememe
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-nonememe
[submodule "nonebot-plugin-ottohzys"]
	path = packages/nonebot-plugin-ottohzys
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-ottohzys
[submodule "nonebot-plugin-pjsk"]
	path = packages/nonebot-plugin-pjsk
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-pjsk
[submodule "nonebot-plugin-color"]
	path = packages/nonebot-plugin-color
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-color
[submodule "bawiki-data"]
	path = others/bawiki-data
	url = https://github.com/lgc-NB2Dev/bawiki-data
[submodule "nb-cli-plugin-bootstrap"]
	path = packages/nb-cli-plugin-bootstrap
	url = https://github.com/lgc-NB2Dev/nb-cli-plugin-bootstrap
[submodule "nonebot-plugin-cnrail"]
	path = packages/nonebot-plugin-cnrail
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-cnrail
[submodule "nonebot-plugin-clash"]
	path = packages/nonebot-plugin-clash
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-clash
[submodule "nonebot-plugin-riffusion"]
	path = packages/nonebot-plugin-riffusion
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-riffusion
[submodule "nonebot-plugin-pingti"]
	path = packages/nonebot-plugin-pingti
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-pingti
[submodule "nonebot-plugin-bmclapi"]
	path = packages/nonebot-plugin-bmclapi
	url = https://github.com/lgc-NB2Dev/nonebot-plugin-bmclapi
[submodule "packages/cookit"]
	path = packages/cookit
	url = https://github.com/lgc2333/cookit
[submodule "packages/nonebot-plugin-kawaii-robot"]
	path = packages/nonebot-plugin-kawaii-robot
	url = https://github.com/KarisAya/nonebot_plugin_kawaii_robot
