name: Lock workspace dependencies

on:
  push:
  schedule:
    - cron: '0 8 * * *'

permissions: write-all

jobs:
  lock:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          submodules: recursive

      - name: Update submodules
        run: |-
          git submodule foreach --recursive git fetch --all
          git submodule update --remote --init --recursive

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          cache: true

      - name: Lock Deps
        run: pdm lock -G:all

      - name: Commit changes
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m "lock deps" || exit 0
          git push
